/resources/*
!/resources/keep
__pycache__/

/allocator/*
!/allocator/latest*

/flamegraph/*
!/flamegraph/latest*

/frag/*
!/frag/latest*

/module/*
!/module/latest*

/size_counters/*
!/size_counters/latest*

/write/*
!/write/latest*

/memtier/*
!/memtier/latest*

/rand/*
!/rand/latest*

# compiled modules for the kernel benchmarks
/build*/
# script for running benchmarks
tmp.sh
