/resources/*
!/resources/keep
__pycache__/

/allocator/*
!/allocator/latest*

/flamegraph/*
!/flamegraph/latest*

/frag/*
!/frag/latest*

/module/*
!/module/latest*

/size_counters/*
!/size_counters/latest*

/write/*
!/write/latest*

/memtier/*
!/memtier/latest*

/rand/*
!/rand/latest*

/cloc/*
!/cloc/latest*

/filling/*
!/filling/latest*

# compiled modules for the kernel benchmarks
/build*/

# artifact results
/artifact/
/docker/llfree_ae/

# meta
.ipynb_checkpoints
tmp.sh

# Extra benchmark debug info
boot.txt
running.txt
error.txt
out_*.txt
*.perf
